* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 320px;
    margin: auto;
}

.gridSquares {
    background-color:orange;
    border: 1px solid white;
    width: 20px;
    height: 20px;
}